<div class="container">
	<table class="table table-striped">
		<th>
			<td>姓名</td>
			<td>帐号</td>
			<td>头像</td>
			<td>Followers</td>
			<td>Following</td>
			<td>Location</td>
		</th>
		<tbody>
			<% @users.each do |user| %>
				<%= render :partial=>'single_user',:locals=>{:user=>user} %>
			<% end %>
		</tbody>
	</table>
  <center>
    <%= paginate @users, windows: 4 %>
  </center>
</div>
