<div class="container">
	<table class="table table-bordered">
		<th>
			<td width="100">姓名</td>
			<td>帐号</td>
			<td>Followers</td>
			<td>Following</td>
			<td width="120">Location</td>
      <td>language</td>
      <td>Contributes</td>
			<td width="80">头像</td>
		</th>
		<tbody>
			<% @users.each do |user| %>
				<%= render :partial=>'single_user',:locals=>{:user=>user} %>
			<% end %>
		</tbody>
	</table>
</div>
